apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
      - name: student-app
        image: <<ACR_NAME>>.azurecr.io/student-app:<<TAG>>
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: "<<MYSQL_HOST>>"
        - name: DB_USER
          value: "adminuser"
        - name: DB_PASSWORD
          value: "<<MYSQL_PASSWORD>>"
        - name: DB_NAME
          value: "studentdb"
