name: CD Pipeline - Deploy to AKS

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS Context
        uses: azure/aks-set-context@v3
        with:
          resource-group: ${{ secrets.AKS_RG }}
          cluster-name: ${{ secrets.AKS_NAME }}

      - name: Debug Tag Received from CI
        run: echo "Deploying IMAGE_TAG=${{ needs.build.outputs.IMAGE_TAG }}"

      - name: Deploy to AKS
        uses: azure/k8s-deploy@v4
        with:
          manifests: |
            k8s/deployment.yaml
            k8s/service.yaml
          images: |
            ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:${{ needs.build.outputs.IMAGE_TAG }}
          imagepullsecrets: |
            acr-auth
