name: CI Pipeline - Build & Push to ACR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Login to Azure
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Debug secrets (optional)
      - name: Debug ACR secrets
        run: |
          echo "ACR_NAME=>>${{ secrets.ACR_NAME }}<<"
          echo "ACR_LOGIN_SERVER=>>${{ secrets.ACR_LOGIN_SERVER }}<<" 

      # Login to ACR
      - name: ACR Login
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}

      # REQUIRED for ARM64 builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # REQUIRED for multi-arch support
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      # Build and Push Multi-Arch Image
      - name: Build and Push Multi-Arch Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:latest
            ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:${{ github.run_number }}

      - name: Set image tag output
        id: imageinfo
        run: echo "IMAGE_TAG=${{ github.run_number }}" >> $GITHUB_OUTPUT
