name: CI Pipeline - Build & Push to ACR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: ACR Login
        run: |
          az acr login -n ${{ secrets.ACR_NAME }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:${{ github.run_number }} .
          docker tag ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:${{ github.run_number }} \
                     ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:latest

      - name: Push to ACR
        run: |
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:${{ github.run_number }}
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:latest

      - name: Set output
        id: imageinfo
        run: echo "IMAGE_TAG=${{ github.run_number }}" >> $GITHUB_OUTPUT
