name: CI Pipeline - Build & Push to ACR
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Buildx Setup
        uses: docker/setup-buildx-action@v3

      - name: ACR Login
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build & Push Multi-Arch Image (ARM64 + AMD64)
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:latest \
            -t ${{ secrets.ACR_LOGIN_SERVER }}/devops-student-app:${{ github.run_number }} \
            --push .

